html {
    height: 1080px;
    width: 1920px;
    background-color: #080C2B;
}

body {
    height: 1080px;
    width: 1920px;
}

#backGround {
    height: 1080px;
    width: 1920px;
}

.star_slow {
    animation: backgroundAnimation 10s linear infinite;
    animation-delay: 2s;
}

.star_normal {
    animation: backgroundAnimation 9.5s linear infinite;
    animation-delay: 5s;
}

.star_fast {
    animation: backgroundAnimation 8s linear infinite;
    animation-delay: 8s;
}

@keyframes backgroundAnimation {
    0% {
        /*transform: scale(1);*/
        opacity: 2;
    }
    50% {
        /*transform: scale(1.2);*/
        opacity: 0.2;
    }
}

#iframeContainer{
    width: 100%;
    height: 100%;
}
